In [1]:
import pandas as pd
import index
import search
import preprocess_reference_data

In [2]:
df1 = pd.read_csv('./data/v1/train.csv')
df2 = pd.read_csv('./data/v1/val.csv')
df3 = pd.read_csv('./data/v1/test.csv')

In [3]:
dfAll = pd.concat([df1, df2, df3])

In [4]:
dfAll

,instansi,reference,status
0,"Kementerian Koordinator Bidang Politik, Hukum,...",Kemenko Polhukam,yes
1,"Kementerian Koordinator Bidang Politik, Hukum,...",Polhukam,yes
2,"Kementerian Koordinator Bidang Politik, Hukum,...",Koordinator Politik,no
3,"Kementerian Koordinator Bidang Politik, Hukum,...",Koordinator Hukum,no
4,Kementerian Luar Negeri,Kemlu,yes
...,...,...,...
584,"PT Telkom Indonesia (Persero), Tbk.",Telkom University,no
585,"PT Telkom Indonesia (Persero), Tbk.",Telkom,no
586,PT Semen Kupang,Kupang,no
587,PT Semen Kupang,Pemkot Kupang,no
588,PT Semen Kupang,Pemerintah Kota Kupang,no

In [5]:
dfAll = dfAll.reset_index()

In [6]:
dfAll

,index,instansi,reference,status
0,0,"Kementerian Koordinator Bidang Politik, Hukum,...",Kemenko Polhukam,yes
1,1,"Kementerian Koordinator Bidang Politik, Hukum,...",Polhukam,yes
2,2,"Kementerian Koordinator Bidang Politik, Hukum,...",Koordinator Politik,no
3,3,"Kementerian Koordinator Bidang Politik, Hukum,...",Koordinator Hukum,no
4,4,Kementerian Luar Negeri,Kemlu,yes
...,...,...,...,...
2478,584,"PT Telkom Indonesia (Persero), Tbk.",Telkom University,no
2479,585,"PT Telkom Indonesia (Persero), Tbk.",Telkom,no
2480,586,PT Semen Kupang,Kupang,no
2481,587,PT Semen Kupang,Pemkot Kupang,no
2482,588,PT Semen Kupang,Pemerintah Kota Kupang,no

# Create a New DF - Distinct Instansi from KPK's table

In [38]:
df_bumn = pd.read_csv('./data/v2/Daftar BUMN AI.csv')

In [39]:
df_klpd = pd.read_csv('./data/v2/Daftar KLPD PPG AI.csv')

In [40]:
df_bumn.columns

Index(['No.', 'Instansi', 'Jenis instansi/\nKeterangan'], dtype='object')

In [41]:
df_bumn = df_bumn.drop(['Jenis instansi/\nKeterangan', 'No.'], axis=1)

In [42]:
df_bumn = df_bumn.rename(columns={'Instansi': 'instansi'})

In [43]:
df_bumn

                                              instansi
0    Perum Lembaga Penyelenggara Pelayanan Navigasi...
1                                          Perum Bulog
2                                          Perum DAMRI
3              PT Jaminan Kredit Indonesia (Jamkrindo)
4                                   Perum Jasa Tirta I
..                                                 ...
115           PT Dok Dan Perkapalan Surabaya (Persero)
116            PT Industri Kereta Api (Persero) (INKA)
117                          PT Semen Kupang (Persero)
118              PT KAWASAN INDUSTRI MAKASAR (PERSERO)
119                PT Kawasan Industri Medan (Persero)

[120 rows x 1 columns]

In [44]:
df_klpd.columns

Index(['No', 'Instansi Pelaporan'], dtype='object')

In [45]:
df_klpd = df_klpd.rename(columns={'Instansi Pelaporan': 'instansi'})

In [46]:
df_klpd = df_klpd.drop(['No'], axis=1)

In [47]:
df_klpd

                                instansi
0            Pemerintah Kabupaten Badung
1            Pemerintah Kabupaten Bangli
2          Pemerintah Kabupaten Buleleng
3           Pemerintah Kabupaten Gianyar
4          Pemerintah Kabupaten Jembrana
..                                   ...
769        Pemerintah Kota Tanjung Balai
770        Pemerintah Kota Tebing Tinggi
771   Pemerintah Provinsi Sumatera Utara
772  PT Kawasan Industri Medan (Persero)
773                Kementerian Investasi

[774 rows x 1 columns]

In [48]:
df_instansi = pd.concat([df_bumn, df_klpd])

In [49]:
df_instansi

                                              instansi
0    Perum Lembaga Penyelenggara Pelayanan Navigasi...
1                                          Perum Bulog
2                                          Perum DAMRI
3              PT Jaminan Kredit Indonesia (Jamkrindo)
4                                   Perum Jasa Tirta I
..                                                 ...
769                      Pemerintah Kota Tanjung Balai
770                      Pemerintah Kota Tebing Tinggi
771                 Pemerintah Provinsi Sumatera Utara
772                PT Kawasan Industri Medan (Persero)
773                              Kementerian Investasi

[894 rows x 1 columns]

In [50]:
df_instansi = df_instansi.reset_index()

In [52]:
df_instansi = df_instansi.drop(['index'], axis=1)

In [53]:
df_instansi

                                              instansi
0    Perum Lembaga Penyelenggara Pelayanan Navigasi...
1                                          Perum Bulog
2                                          Perum DAMRI
3              PT Jaminan Kredit Indonesia (Jamkrindo)
4                                   Perum Jasa Tirta I
..                                                 ...
889                      Pemerintah Kota Tanjung Balai
890                      Pemerintah Kota Tebing Tinggi
891                 Pemerintah Provinsi Sumatera Utara
892                PT Kawasan Industri Medan (Persero)
893                              Kementerian Investasi

[894 rows x 1 columns]

In [54]:
df_instansi = df_instansi.rename(columns={'instansi': 'reference'})

In [55]:
df_instansi

                                             reference
0    Perum Lembaga Penyelenggara Pelayanan Navigasi...
1                                          Perum Bulog
2                                          Perum DAMRI
3              PT Jaminan Kredit Indonesia (Jamkrindo)
4                                   Perum Jasa Tirta I
..                                                 ...
889                      Pemerintah Kota Tanjung Balai
890                      Pemerintah Kota Tebing Tinggi
891                 Pemerintah Provinsi Sumatera Utara
892                PT Kawasan Industri Medan (Persero)
893                              Kementerian Investasi

[894 rows x 1 columns]

# Preprocess Reference Data

In [56]:
prd = preprocess_reference_data.PreprocessReferenceData(dfAll)

In [57]:
reference_data = prd.get_preprocessed_df()

In [58]:
reference_data

                          reference
0                  Kemenko Polhukam
1                          Polhukam
2                             Kemlu
3                          Kemlu RI
4                  Kementerian BUMN
..                              ...
933         Indofarma Global Medika
934  Indofarma Global Medika Cabang
935                          PT IGM
936                       Indofarma
937             PT Telkom Indonesia

[937 rows x 1 columns]

In [59]:
# concatenate distinct instansi
reference_data = pd.concat([reference_data, df_instansi])

In [60]:
reference_data

                               reference
0                       Kemenko Polhukam
1                               Polhukam
2                                  Kemlu
3                               Kemlu RI
4                       Kementerian BUMN
..                                   ...
889        Pemerintah Kota Tanjung Balai
890        Pemerintah Kota Tebing Tinggi
891   Pemerintah Provinsi Sumatera Utara
892  PT Kawasan Industri Medan (Persero)
893                Kementerian Investasi

[1831 rows x 1 columns]

In [63]:
reference_data = pd.DataFrame(reference_data['reference'].unique())

In [64]:
reference_data

                                       0
0                       Kemenko Polhukam
1                               Polhukam
2                                  Kemlu
3                               Kemlu RI
4                       Kementerian BUMN
...                                  ...
1724    Pemerintah Kota Pematang Siantar
1725             Pemerintah Kota Sibolga
1726       Pemerintah Kota Tanjung Balai
1727       Pemerintah Kota Tebing Tinggi
1728  Pemerintah Provinsi Sumatera Utara

[1729 rows x 1 columns]

In [65]:
reference_data = reference_data.reset_index()

In [66]:
reference_data

      index                                   0
0         0                    Kemenko Polhukam
1         1                            Polhukam
2         2                               Kemlu
3         3                            Kemlu RI
4         4                    Kementerian BUMN
...     ...                                 ...
1724   1724    Pemerintah Kota Pematang Siantar
1725   1725             Pemerintah Kota Sibolga
1726   1726       Pemerintah Kota Tanjung Balai
1727   1727       Pemerintah Kota Tebing Tinggi
1728   1728  Pemerintah Provinsi Sumatera Utara

[1729 rows x 2 columns]

In [67]:
reference_data = reference_data.drop(['index'], axis=1)

In [68]:
reference_data = reference_data.rename(columns={0: 'reference'})

In [69]:
reference_data

                               reference
0                       Kemenko Polhukam
1                               Polhukam
2                                  Kemlu
3                               Kemlu RI
4                       Kementerian BUMN
...                                  ...
1724    Pemerintah Kota Pematang Siantar
1725             Pemerintah Kota Sibolga
1726       Pemerintah Kota Tanjung Balai
1727       Pemerintah Kota Tebing Tinggi
1728  Pemerintah Provinsi Sumatera Utara

[1729 rows x 1 columns]

In [70]:
reference_data.to_csv('./data/v2/reference_data.csv')

# Create Indexing Table

In [71]:
idx = index.Index(reference_data)

In [108]:
index_table = idx.get_index_table()

In [109]:
index_table

                 Kata                                              Index
0             Kemenko                                                [0]
1            Polhukam                                             [0, 1]
2               Kemlu                                             [2, 3]
3                  RI  [3, 7, 9, 11, 15, 17, 19, 23, 25, 80, 81, 85, ...
4         Kementerian  [4, 50, 51, 671, 745, 750, 1099, 1100, 1101, 1...
...               ...                                                ...
1194  Padangsidimpuan                                             [1723]
1195         Pematang                                             [1724]
1196          Siantar                                             [1724]
1197          Sibolga                                             [1725]
1198           Tebing                                             [1727]

[1199 rows x 2 columns]

In [110]:
index_table.to_csv('./data/v2/index_table.csv')

TODO: Remove , . / ()

# Perform Search - Testing

In [126]:
it = pd.read_csv('./data/v2/index_table.csv', index_col='Unnamed: 0')
rd = pd.read_csv('./data/v2/reference_data.csv', index_col='Unnamed: 0')

In [127]:
rd.head(1)

          reference
0  Kemenko Polhukam

In [128]:
it.head(1)

      Kata Index
0  Kemenko   [0]

In [129]:
search_ = search.Search(rd, it)

In [130]:
nama_instansi = "kementerian pertanian"
search_.search(nama_instansi)

{'kementerian': ['Kementerian BUMN',
  'Kementerian Investasi/BKPM',
  'Kementerian Investasi',
  'Kementerian PPN/Bappenas',
  'Kementerian Koperasi dan UKM',
  'Kementerian PP & PA',
  'Kementerian Agama',
  'Kementerian Agraria dan Tata Ruang/Badan Pertahanan Nasional (BPN)',
  'Kementerian Dalam Negeri',
  'Kementerian Desa, Pembangunan Daerah Tertinggal dan Transmigrasi',
  'Kementerian Energi dan Sumber Daya Mineral (ESDM)',
  'Kementerian Hukum dan Hak Asasi Manusia',
  'Kementerian Lingkungan Hidup dan Kehutanan',
  'Kementerian Kelautan dan Perikanan',
  'Kementerian Kesehatan',
  'Kementerian Ketenagakerjaan',
  'Kementerian Keuangan',
  'Kementerian Komunikasi dan Informatika',
  'Kementerian Koordinator Bidang Kemaritiman dan Investasi',
  'Kementerian Koordinator Bidang Pembangunan Manusia dan Kebudayaan',
  'Kementerian Koordinator Bidang Perekonomian',
  'Kementerian Koordinator Bidang Politik, Hukum, dan Keamanan',
  'Kementerian Koperasi dan Usaha Kecil dan Menengah',
  'Kementerian Luar Negeri',
  'Kementerian Badan Usaha Milik Negara',
  'Kementerian Pendayagunaan Aparatur Negara dan Reformasi Birokrasi (Kem PANRB)',
  'Kementerian Pariwisata dan Ekonomi Kreatif',
  'Kementerian Pekerjaan Umum dan Perumahan Rakyat (PUPR)',
  'Kementerian Pemberdayaan Perempuan dan Perlindungan Anak',
  'Kementerian Pemuda dan Olahraga',
  'Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi',
  'Kementerian Perdagangan',
  'Kementerian Perencanaan Pembangunan Nasional (PPN)/Badan Perencanaan Pembangunan Nasional (Bappenas)',
  'Kementerian Perhubungan',
  'Kementerian Perindustrian',
  'Kementerian Pertahanan',
  'Kementerian Pertanian',
  'Kementerian Sekretariat Negara',
  'Kementerian Sosial'],
 'pertanian': ['Kementerian Pertanian']}

In [131]:
search_.search("kereta")

{'kereta': ['PT Industri Kereta Api',
  'PT Kereta Api Indonesia ',
  'PT Kereta Api Indonesia (Persero) (KAI)',
  'PT Industri Kereta Api (Persero) (INKA)']}

In [132]:
search_.search("bank")

{'bank': ['Bank Indonesia (BI)',
  'Bank Mandiri',
  'Bank Mandiri Cihampelas',
  'Bank BNI Kantor Cabang Karawang',
  'Bank Rakyat Indonesia Cabang Sintang',
  'Bank BRI Unit Prambanan',
  'Bank BTN Jayapura',
  'PT Bank Mandiri (Persero), Tbk.',
  'PT Bank Negara Indonesia (Persero), Tbk. (BNI)',
  'PT Bank Rakyat Indonesia (Persero), Tbk. (BRI)',
  'PT Bank Tabungan Negara (Persero) (BTN)']}

In [133]:
search_.search("tvri")

{'tvri': ['LPP TVRI', 'Lembaga Penyiaran Publik TVRI']}