In [1]:
import pandas as pd
import numpy as np

import preprocess_reference_data as prd
import index as idx
import imp
imp.reload(prd)
imp.reload(idx)

C:\Users\USER\AppData\Local\Temp\ipykernel_4712\2166347387.py:6: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  import imp

# Test

In [3]:
df = pd.read_csv('./data/pelabelan_2_labeled (2).csv')
df.head(2)

,no,instansi,reference,status
0,1,"Kementerian Koordinator Bidang Politik, Hukum,...",Kemenko Polhukam,yes
1,2,"Kementerian Koordinator Bidang Politik, Hukum,...",Polhukam,yes

In [4]:
prd_ = prd.PreprocessReferenceData(df)
reference_data = prd_.get_preprocessed_df()

In [5]:
reference_data.head()

                      reference
0              Kemenko Polhukam
1                      Polhukam
2  Kementerian Koperasi dan UKM
3                   KemenkopUKM
4                         Kemlu

In [6]:
idx_ = idx.Index(reference_data)

In [7]:
index_table = idx_.get_index_table()

In [8]:
index_table.head()

          Kata                                 Index
0      Kemenko                                   [0]
1     Polhukam                                [0, 1]
2  Kementerian                [2, 6, 15, 22, 60, 61]
3     Koperasi                                   [2]
4          dan  [2, 87, 89, 116, 136, 145, 171, 241]

# Searching scrapbook

given nama_instansi

split nama_instansi to list of words

for word in nama_instansi.split():

In [9]:
nama_instansi = "Kementerian Polhukam"

In [10]:
word_list = nama_instansi.split()
word_list

['Kementerian', 'Polhukam']

In [20]:
index_table[index_table['Kata']=='Kementerian']['Index'].iloc[0]

[2, 6, 15, 22, 60, 61]

In [24]:
candidates = {}
for word in word_list:
    candidates[word] = index_table[index_table['Kata']==word]['Index'].iloc[0]

In [25]:
candidates

{'Kementerian': [2, 6, 15, 22, 60, 61], 'Polhukam': [0, 1]}

In [29]:
reference_data.iloc[15].iloc[0]

'Kementerian PP & PA'

In [30]:
candidates_ = {}
for word, indexes in candidates.items():
    words = []
    for i in indexes:
        words.append(reference_data.iloc[i].iloc[0])
    candidates_[word] = words

In [31]:
candidates_

{'Kementerian': ['Kementerian Koperasi dan UKM',
  'Kementerian BUMN',
  'Kementerian PP & PA',
  'Kementerian PPN/Bappenas',
  'Kementerian Investasi/BKPM',
  'Kementerian Investasi'],
 'Polhukam': ['Kemenko Polhukam', 'Polhukam']}

In [101]:
import search as s
imp.reload(s)

In [102]:
s_ = s.Search(reference_data, index_table)

In [113]:
nama_instansi = 'bgr logistik'
results = s_.search(nama_instansi)

In [114]:
results

{'bgr': ['PT BGR Logistik Indonesia', 'BGR'],
 'logistik': ['PT BGR Logistik Indonesia']}

In [99]:
index_table[index_table['Kata']=='BNI']

    Kata       Index
294  BNI  [206, 207]

In [100]:
index_table[index_table['Kata']=='46']

    Kata  Index
296   46  [207]

In [115]:
type(index_table)

pandas.core.frame.DataFrame

In [117]:
a = {'a': [1]}
type(a)

dict