In [1]:
import pandas as pd
import numpy as np

import preprocess_reference_data as prd
import index as idx
import imp
imp.reload(prd)
imp.reload(idx)

C:\Users\USER\AppData\Local\Temp\ipykernel_6068\2166347387.py:6: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  import imp

# Test

In [2]:
df = pd.read_csv('./data/pelabelan_2_labeled (2).csv')
df.head(2)

,no,instansi,reference,status
0,1,"Kementerian Koordinator Bidang Politik, Hukum,...",Kemenko Polhukam,yes
1,2,"Kementerian Koordinator Bidang Politik, Hukum,...",Polhukam,yes

In [3]:
prd_ = prd.PreprocessReferenceData(df)
reference_data = prd_.get_preprocessed_df()

In [4]:
reference_data.head()

                      reference
0              Kemenko Polhukam
1                      Polhukam
2  Kementerian Koperasi dan UKM
3                   KemenkopUKM
4                         Kemlu

In [5]:
idx_ = idx.Index(reference_data)

In [6]:
index_table = idx_.get_index_table()

In [7]:
index_table.head()

          Kata                                 Index
0      Kemenko                                   [0]
1     Polhukam                                [0, 1]
2  Kementerian                [2, 6, 15, 22, 60, 61]
3     Koperasi                                   [2]
4          dan  [2, 87, 89, 116, 136, 145, 171, 241]

# Searching scrapbook

given nama_instansi

split nama_instansi to list of words

for word in nama_instansi.split():

In [8]:
nama_instansi = "Kementerian Polhukam"

In [9]:
word_list = nama_instansi.split()
word_list

['Kementerian', 'Polhukam']

In [10]:
index_table[index_table['Kata']=='Kementerian']['Index'].iloc[0]

[2, 6, 15, 22, 60, 61]

In [11]:
candidates = {}
for word in word_list:
    candidates[word] = index_table[index_table['Kata']==word]['Index'].iloc[0]

In [12]:
candidates

{'Kementerian': [2, 6, 15, 22, 60, 61], 'Polhukam': [0, 1]}

In [13]:
reference_data.iloc[15].iloc[0]

'Kementerian PP & PA'

In [14]:
candidates_ = {}
for word, indexes in candidates.items():
    words = []
    for i in indexes:
        words.append(reference_data.iloc[i].iloc[0])
    candidates_[word] = words

In [15]:
candidates_

{'Kementerian': ['Kementerian Koperasi dan UKM',
  'Kementerian BUMN',
  'Kementerian PP & PA',
  'Kementerian PPN/Bappenas',
  'Kementerian Investasi/BKPM',
  'Kementerian Investasi'],
 'Polhukam': ['Kemenko Polhukam', 'Polhukam']}

In [16]:
import search as s
imp.reload(s)

In [17]:
s_ = s.Search(reference_data, index_table)

In [18]:
nama_instansi = 'bgr logistik'
results = s_.search(nama_instansi)

In [19]:
results

{'bgr': ['PT BGR Logistik Indonesia', 'BGR'],
 'logistik': ['PT BGR Logistik Indonesia']}

In [20]:
index_table[index_table['Kata']=='BNI']

    Kata       Index
294  BNI  [206, 207]

In [21]:
index_table[index_table['Kata']=='46']

    Kata  Index
296   46  [207]

In [22]:
type(index_table)

pandas.core.frame.DataFrame

In [23]:
a = {'a': [1]}
type(a)

dict

In [24]:
index_table.to_csv('./data/index_table.csv')

In [25]:
reference_data.to_csv('./data/reference_data.csv')

In [26]:
abc = {'name': "kemenko"}

In [28]:
abc['name']

'kemenko'

In [31]:
a = pd.read_csv('https://github.com/intanq/data/blob/main/reference_data.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 28, saw 367

In [53]:
it = pd.read_csv('https://raw.githubusercontent.com/intanq/data/main/index_table.csv')

In [54]:
rd = pd.read_csv('https://raw.githubusercontent.com/intanq/data/main/reference_data.csv')

In [55]:
import search

In [56]:
s = search.Search(rd, it)

In [57]:
pcands = s.search("kementerian bumn")

TypeError: Cannot index by location index with a non-integer key

In [58]:
a = "[0,1,2]"
type(a)

str

In [59]:
list(a)

['[', '0', ',', '1', ',', '2', ']']

In [60]:
import parser

ModuleNotFoundError: No module named 'parser'

In [2]:
it = pd.read_csv('https://raw.githubusercontent.com/TheSecret3003/KPK-IE/20221114_indexing/indexing/data/index_table.csv?token=GHSAT0AAAAAAB2WBQULOIOEIJFZ2C2E6U4IY3UDVPA')

In [3]:
it.head()

   Unnamed: 0         Kata                                 Index
0           0      Kemenko                                   [0]
1           1     Polhukam                                [0, 1]
2           2  Kementerian                [2, 6, 15, 22, 60, 61]
3           3     Koperasi                                   [2]
4           4          dan  [2, 87, 89, 116, 136, 145, 171, 241]

In [4]:
it.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  449 non-null    int64
 1   Kata        449 non-null    object
 2   Index       449 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.6+ KB

In [7]:
import ast

In [14]:
nama = 'kementerian pertahanan'.split()
idxCand = {}
for word in nama:
    try:
        print(type(it[it['Kata'].str.lower()==word.lower()]['Index'].iloc[0]))
        indexes = ast.literal_eval(it[it['Kata'].str.lower()==word.lower()]['Index'].iloc[0])
        print(type(type(indexes)))
        idxCand[word] = indexes
    except:
        continue

<class 'str'>
<class 'type'>
<class 'str'>
<class 'type'>

In [9]:
idxCand

{'kementerian': [2, 6, 15, 22, 60, 61], 'pertahanan': [29]}

In [17]:
if type(idxCand['kementerian']) == list:
    print('y')

y

In [19]:
index_table = pd.read_csv('https://raw.githubusercontent.com/intanq/data/main/index_table.csv?token=GHSAT0AAAAAAB2WBQULCZ2J23LMDWXOAE5GY3UEX6A')

In [20]:
index_table

     Unnamed: 0         Kata                                 Index
0             0      Kemenko                                   [0]
1             1     Polhukam                                [0, 1]
2             2  Kementerian                [2, 6, 15, 22, 60, 61]
3             3     Koperasi                                   [2]
4             4          dan  [2, 87, 89, 116, 136, 145, 171, 241]
..          ...          ...                                   ...
444         444       Wisata                                 [355]
445         445        Candi                                 [355]
446         446          VTP                                 [356]
447         447       Varuna                                 [357]
448         448     Prakasya                                 [357]

[449 rows x 3 columns]

In [21]:
index_table = pd.read_csv('https://raw.githubusercontent.com/intanq/data/main/index_table.csv?token=GHSAT0AAAAAAB2WBQULCZ2J23LMDWXOAE5GY3UEX6A')

In [22]:
index_table = pd.read_csv('https://raw.githubusercontent.com/intanq/data/main/index_table.csv?token=GHSAT0AAAAAAB2WBQULCZ2J23LMDWXOAE5GY3UEX6A')

In [23]:
index_table = pd.read_csv('https://raw.githubusercontent.com/intanq/data/main/index_table.csv?token=GHSAT0AAAAAAB2WBQULCZ2J23LMDWXOAE5GY3UEX6A')

In [24]:
table = pd.read_csv('https://drive.google.com/file/d/191w8x_tleY7TNhn4oiAyu7_ezx8ejAo3/view?usp=share_link')

In [25]:
table

,"<!DOCTYPE html><html><head><meta name=""google"" content=""notranslate""><meta http-equiv=""X-UA-Compatible"" content=""IE=edge;""><style nonce=""hX2I5Aq5nem437Ixfv5vWg"">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)format('truetype');}</style><meta name=""referrer"" content=""origin""><title>pelabelan_2_balanced.csv - Google Drive</title><meta property=""og:title"" content=""pelabelan_2_balanced.csv""><meta property=""og:type"" content=""article""><meta property=""og:site_name"" content=""Google Docs""><meta property=""og:url"" content=""https://drive.google.com/file/d/191w8x_tleY7TNhn4oiAyu7_ezx8ejAo3/view?usp=share_link&amp;usp=embed_facebook""><meta property=""og:image"" content=""https://lh3.googleusercontent.com/sFvnH1GHuIFmXp6mpL2k-SeSdU0ULFFMU2JnMwJGYaId9xUz1y9ZKMqfH56VfAHzHFk=w1200-h630-p""><meta property=""og:image:width"" content=""1200""><meta property=""og:image:height"" content=""630""><link rel=""shortcut icon"" href=""https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png""><link rel=""stylesheet"" href=""https://fonts.googleapis.com/css?family=Google+Sans:300",400,500,"700"" nonce=""hX2I5Aq5nem437Ixfv5vWg""><link rel=""stylesheet"" href=""https://www.gstatic.com/_/apps-fileview/_/ss/k=apps-fileview.v.03McfMPRSy4.L.X.O/am=AAg/d=0/rs=AO0039sJla-x6f-YFSw73-N7BaUKg9JCMQ"" nonce=""hX2I5Aq5nem437Ixfv5vWg""><script nonce=""6OlU2stLCsP6BpRq0Hdd1Q"">_docs_flag_initialData={""docs-ails"":""docs_cold""","docs-fwds:""docs_sdf""","docs-crs:""docs_crs_nfd""",docs-l2t:0,docs-shdn:0,"docs-tfh:""""",info_params:{},...,2.3,5.2,rw,187,0].7,[[null.2,null.198,null.199,"https://www.gstatic.com/og/_/js/k=og.qtm.en_US.hj89-rW3G9Y.O/rt=j/m=qabr,q_dnp,qapid/exm=qaaw,qadd,qaid,qein,qhaw,qhbr,qhch,qhga,qhid,qhin,qhpr/d=1/ed=1/rs=AA2YrTuy-g1QunQbD3MW84FOnc-xAfoKVw]]]]",};this.gbar_=this.gbar_||{};(function(_){var window=this;
0,try{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Copyright The Closure Library Authors.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SPDX-License-Identifier: Apache-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,*/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,(function(){var a=_.he();if(_.E(a,18))ck();else{var b=_.D(a,"19)||0;window.addEventListener(""load""",function(){window.setTimeout(ck,b)})}})();,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,}catch(e){_._DumpException(e)},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,})(this.gbar_);,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,// Google Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,"</script><script id=""base-js"" async type=""text...","wb"" nonce=""6OlU2stLCsP6BpRq0Hdd1Q""></script></...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN