In [1]:
import pandas as pd
import numpy as np
from get_similar_entity import get_similar_entity
from evaluation import clean_test_df, get_similar_entity_1b

## Prep test data

In [2]:
test_data = pd.read_csv('./eval/test_data/distinct_instansi_ai_table.csv')

In [3]:
test_data.head()

              nama_instansi
0       Kementerian Kominfo
1                tidak tahu
2  PT Maybank Indonesia Tbk
3                   Rekanan
4              Kemko Marves

In [4]:
test_data2 = test_data[['nama_instansi']]

In [5]:
test_data2 = test_data2.rename(columns={'reference': 'nama_instansi'})

In [6]:
test_data2

                 nama_instansi
0          Kementerian Kominfo
1                   tidak tahu
2     PT Maybank Indonesia Tbk
3                      Rekanan
4                 Kemko Marves
...                        ...
2239    PT Cahaya Maha Pertiwi
2240            Pemkab Sintang
2241                Desa Ginuk
2242     Direktur Utama PT BNI
2243   Tidak diketahui pelapor

[2244 rows x 1 columns]

In [7]:
test_data2 = clean_test_df(test_data2)

In [8]:
test_data2.head()

              nama_instansi
0       kementerian kominfo
1                tidak tahu
2  pt maybank indonesia tbk
3                   rekanan
4              kemko marves

In [9]:
test_data2.isnull().sum()

nama_instansi    0
dtype: int64

duplicate removed

In [10]:
test_data2.shape

(2160, 1)

In [11]:
test_data2

                 nama_instansi
0          kementerian kominfo
1                   tidak tahu
2     pt maybank indonesia tbk
3                      rekanan
4                 kemko marves
...                        ...
2156    pt cahaya maha pertiwi
2157            pemkab sintang
2158                desa ginuk
2159     direktur utama pt bni
2160   tidak diketahui pelapor

[2160 rows x 1 columns]

## Predictions

In [ ]:
predictions = get_similar_entity_1b(test_data2, reference_version='v2')

processing index 0: kementerian kominfo
processing index 1: tidak tahu
processing index 2: pt maybank indonesia tbk
processing index 3: rekanan
processing index 4: kemko marves
processing index 5: smk negeri 1 jogonalan
processing index 6: kantor pelayanan pajak pratama medan barat
processing index 7: grab
processing index 8: pt sawit sumbermas sarana tbk
processing index 9: pt nusa niaga perkasa
processing index 10: pemerintah kota kotamobagu
processing index 11: lanal gorontalo
processing index 12: pemerintah kabupaten ciamis
processing index 13: pemerintah kabupaten sumba tengah ntt
processing index 14: asuransi jiwa sinarmas
processing index 15: lapas kelas iia cilegon
processing index 16: masyarakat
processing index 17: pt yaza pratama
processing index 18: yayasan reef check indonesia
processing index 19: kencana sakti
processing index 20: sma raudlatul ulum 2 kubu raya
processing index 21: pt indofood fortuna makmur
processing index 22: lembaga pembiayaan ekspor indonesia
processing index 23: bank bni cabang perguruan tinggi bandung
processing index 24: pt citra riantara sejahtera
processing index 25: kanwil kemenag jawa tengah
processing index 26: pt intercons
processing index 27: kontraktor listrik
processing index 28: kantor atr   bpn kota salatiga
processing index 29: pemerintah kabupaten kudus
processing index 30: distributor pupuk bersubsidi
processing index 31: advokat kuasa hukum
processing index 32: universitas islam batik
processing index 33: direktur cv edlin lestari mandiri
processing index 34: dinas koperasi dan ukm kabupaten sleman
processing index 35: perhimpunan pedagang surat utang
processing index 36: mahkamah
processing index 37: pt asuransi jasa indonesia persero
processing index 38: hotel vasa dan hotel bumi
processing index 39: dinas pendidikan sekolah smp sd
processing index 40: bank syariah indonesia malang
processing index 41: kementerian kesehatan
processing index 42: perusahaan renis jaya
processing index 43: pt candi arta
processing index 44: founder astronacci  pegawai swasta
processing index 45: roseana widyanti sh mkn
processing index 46: think artha
processing index 47: laboratorium valid
processing index 48: ksp kospinjasa dan ksp pangestu
processing index 49: badan narkotika nasional
processing index 50: man 2 kampar
processing index 51: nasabah bank mandiri pemilik toko parfum
processing index 52: babk bjb cabang karawang
processing index 53: pt rianda usaha mandiri
processing index 54: direktur jakarta convention center
processing index 55: tidak diketahui namun diduga nasabah bni
processing index 56: pt kordon putra sinerga
processing index 57: garuda food
processing index 58: cv hotma sinar surya
processing index 59: pt garuda indonesia
processing index 60: umum
processing index 61: ketua dprd kabupaten malinau
processing index 62: pt bulog cabang surakarta
processing index 63: loka pom di loka rejang lebong dan bpom di bengkulu
processing index 64: kementerian keuangan bangladesh
processing index 65: pt semen jakarta
processing index 66: bank indonesia bank sentral republik indonesia
processing index 67: universitas hamzanwadi lombok ntb
processing index 68: pemerintah kabupaten grobogan
processing index 69: toko muhanah
processing index 70: rs banyumanik
processing index 71: kementerian pupr
processing index 72: kgi sekuritas
processing index 73: pt hidup tujuh lautan
processing index 74: hotel horison
processing index 75: pt nusa biru abadi
processing index 76: bank mandiri medan
processing index 77: pemerintah kabupaten pemalang
processing index 78: pt lisna syifa prima padang
processing index 79: ptpn xii
processing index 80: polres kabtapanuli selatan
processing index 81: uptd kab bima
processing index 82: fave hotel tuban
processing index 83: dinas kesehatan sumba timur
processing index 84: el royal hotel
processing index 85: camat kecamatan mulak sebingkai
processing index 86: smk pasundan 1
processing index 87: wajib pajak individu
processing index 88: badan pelindungan pekerja migran indonesia
processing index 89: anggota dprd fraksi ppp
processing index 90: kkp kelas iii bitung
processing index 91: terlampir
processing index 92: desa mekarharja
processing index 93: pt artha teknik abadi
processing index 94: rincian terlampir
processing index 95: pt pelayaran bina benua samudera banjarmasin
processing index 96: cv sabeena rizky perkasa
processing index 97: pt cirebon energi prasarana cepr
processing index 98: tidak diketahui namun diduga debitur bni
processing index 99: bpom di jambi
processing index 100: panitia proyek sosial pk lpdp
processing index 101: pegawai pt oigo infrastruktur
processing index 102: pt pos indonesia kc cirebon
processing index 103: pt victory chingluh
processing index 104: cv jangkar pacific
processing index 105: bank mandiri cabang samarinda
processing index 106: madrasah muallimaat muhammadiyah yogyakarta
processing index 107: bri kcp bkkbn
processing index 108: pemerintah kabupaten penajam paser utara
processing index 109: panitia lokakarya
processing index 110: pt pos
processing index 111: pt skp
processing index 112: pt kahayan berseri
processing index 113: kementerian investasi bkpm
processing index 114: kantor gubernur kalimantan timur
processing index 115: pengadilan agama sidoarjo
processing index 116: cls france
processing index 117: jaya seluler indonesia
processing index 118: koperasi taxi bali
processing index 119: pln batubara
processing index 120: dinas tenaga kerja prov jawa tengah
processing index 121: pemerintah kabupaten lamandau
processing index 122: dinas pppa deli serdang
processing index 123: pt jamkrindo
processing index 124: pt rizky bumi persada indah
processing index 125: pt itdc
processing index 126: pt pegadaian kanwil iv balikpapan
processing index 127: bank bri cabang blitar
processing index 128: sasimi
processing index 129: dapur rindang
processing index 130: universitas muhammadiyah surakarta
processing index 131: menteri pertanian
processing index 132: pt bank bri
processing index 133: instansi pemerintahan
processing index 134: notaris hendrik kusalam
processing index 135: kecamatan gresik
processing index 136: alazhar islamic university mataram
processing index 137: pt passokorang
processing index 138: pt askrindo
processing index 139: pt
processing index 140: pengusaha galian tanah urug
processing index 141: pemerintah provinsi sumsel
processing index 142: pemerintah kabupaten merangin
processing index 143: bank bahtermas
processing index 144: pt kafila pelita sukses
processing index 145: lpse kabupaten lamongan
processing index 146: pt absy h hasanuddin
processing index 147: pt asuransi jasa indonesia cab samarinda
processing index 148: asn kabid pajak bapenda provinsi lampung
processing index 149: korporasi
processing index 150: desa
processing index 151: direktorat barang kebutuhan pokok dan barang penting
processing index 152: hendrianto lijaya  ien nio
processing index 153: koordinator bazis baznas jakarta timur
processing index 154: pt indonesia comnets plus
processing index 155: pemerintah kabupaten kutai timur
processing index 156: instituto para a qualidade de timorleste iqtlip
processing index 157: pt askrindo kanwil v denpasar
processing index 158: pemerintah kota cimahi
processing index 159: bupati sumenep
processing index 160: cv putra pandawa
processing index 161: dinas kesehatan provinsi sumatera selatan
processing index 162: otoritas jasa keuangan
processing index 163: mdb jombang
processing index 164: pemerintah kota kediri
processing index 165: bdk palembang
processing index 166: pemerintah kabupaten tanah laut
processing index 167: dpc apsi kota surakarta
processing index 168: optik beta
processing index 169: bpk
processing index 170: kementerian esdm
processing index 171: pemerintah provinsi sumatera utara
processing index 172: pt jatiwangi property group
processing index 173: pelaku usaha di surabaya
processing index 174: rs pelengkap
processing index 175: perusahaan batubara
processing index 176: kepala badan konservasi borobudur
processing index 177: virama karya
processing index 178: pnm investment management
processing index 179: kemenkumham kanwil prov riau
processing index 180: developer rekanan
processing index 181: pt bank mandiri cikampek

processing index 182: kepala staf angkatan laut
processing index 183: pt pulau rempah indonesia
processing index 184: rsu mitra sehat
processing index 185: royal woodpark residences
processing index 186: pt airmas perkasa
processing index 187: salah satu perangkat desa
processing index 188: pemerintah kota singkawang
processing index 189: kpu kabupaten fakfak
processing index 190: kedutaan besar china jabatan science counselor
processing index 191: pt bahana sekuritas
processing index 192: sd negeri 2 kedung menjangan
processing index 193: instalasi farmasi klinik erha skin
processing index 194: bupati halmahera selatan
processing index 195: kementerian pariwisata dan ekonomi kreatif badan pariwisata dan ekonomi kreatif
processing index 196: pt pelayaran bunga nusa mahakam  group
processing index 197: pt bank central asia tbk
processing index 198: pemerintah kota cilegon
processing index 199: bank bsi
processing index 200: inspektorat jenderal tni
processing index 201: pemerintah kota pontianak
processing index 202: kapolda kalimantan barat
processing index 203: dinas pekerjaan umum dan perumahan rakyat pemerintah kota pontianak
processing index 204: pt bumi daya plaza
processing index 205: pt sun chang indonesia
processing index 206: cv indah jaya
processing index 207: jalan rawa buaya no8 cengkareng jakarta barat
processing index 208: pemerintah kabupaten wonogiri
processing index 209: kades penandingan kec pseksu kab lahat
processing index 210: induk koperasi kepolisian negara inkopol
processing index 211: kemenkumham
processing index 212: pt hardaya widya graha
processing index 213: rsud sidoarjo
processing index 214: pt pos indonesia
processing index 215: pt indracipta purisatria
processing index 216:
processing index 217: samsul hidayat
processing index 218: kecamatan pameungpeuk desa
processing index 219: dinas kesehatan gresik
processing index 220: pt syabangun bumitirta
processing index 221: disdik pemkot gorontalo
processing index 222: komisi pemilihan umum
processing index 223: pt bnd
processing index 224: dinas pppa medan
processing index 225: pt roatex indonesia toll system
processing index 226: mediatron
processing index 227: surapita unitrans
processing index 228: staf
processing index 229: dinas pemberdayaan masyarakat dan desa kependudukan dan pencatatan sipil provinsi kepulauan riau
processing index 230: pemerintah kota probolinggo
processing index 231: kementerian pendidikan kebudayaan riset dan teknologi
processing index 232: pt jakarta propertindo perseroda
processing index 233: satuan pendidikan
processing index 234: pemerintah kabupaten probolinggo
processing index 235: pt sasa inti jakarta
processing index 236: rumah bumn wonogiri
processing index 237: ppbmn kementerian esdm
processing index 238: dsme
processing index 239: ex advisor organisasi dan sdm
processing index 240: pemerintah kabupaten kuningan
processing index 241: one care solution
processing index 242: pt tata griya jaya
processing index 243: ceo asri group
processing index 244: smk negeri 1 palasah cabang dinas pendidikan wilayah ix provinsi jawa barat

In [ ]:
predictions.head()

In [ ]:
predictions

In [ ]:
predictions.groupby('candidates').count().sort_values('nama_instansi', ascending=False)

## Get true references for each candidate returned

In [ ]:
train = pd.read_csv('../indexing/data/splitted_data/v2/train.csv')
val = pd.read_csv('../indexing/data/splitted_data/v2/val.csv')
test = pd.read_csv('../indexing/data/splitted_data/v2/test.csv')

In [ ]:
df_all = pd.concat([train, val, test])

In [ ]:
df_all.reset_index(drop=True, inplace=True)

In [ ]:
df_all

In [ ]:
df_all['cln_instansi'] = df_all['instansi'].str.replace('/', ' ')
df_all['cln_instansi'] = df_all['cln_instansi'].str.replace('[^\w\s]','',regex=True)

In [ ]:
df_all['cln_reference'] = df_all['reference'].str.replace('/', ' ')
df_all['cln_reference'] = df_all['cln_reference'].str.replace('[^\w\s]','',regex=True)

In [ ]:
df_all = df_all.drop(['reference', 'instansi'], axis=1)
df_all = df_all.rename(columns={'cln_reference':'reference', 'cln_instansi':'instansi'})

In [ ]:
df_all

In [ ]:
df_all[df_all['instansi'].str.startswith('kementerian agraria dan tata ruang')]['instansi'].iloc[0]

In [ ]:
def get_official_instansi(nama_instansi):
    official = ''
    try:
        official = df_all[(df_all['reference']==nama_instansi) & (df_all['status']=='yes')]['instansi'].values[0]
    except:
        official = df_all[(df_all['instansi']==nama_instansi)]['instansi'].values[0]
    return official

In [ ]:
get_official_instansi('badan pertanahan nasional')

In [ ]:
def get_true_references(nama_instansi):
    official_instansi = get_official_instansi(nama_instansi)
    true_refs = [official_instansi]
    true_references = df_all[(df_all['instansi']==official_instansi) & (df_all['status']=='yes')]['reference']
    for i in true_references:
        true_refs.append(i)
    return true_refs

In [ ]:
get_true_references('badan pertanahan nasional')

### Loop through

In [ ]:
predicted_status = []
true_references = []

In [ ]:
for index, row in predictions.iterrows():
    nama_inst = row[['candidates']].values[0]
    
    try:
        if nama_inst == 'Bukan instansi BUMN, Kementerian, Pemerintah':
            true_references.append([])
            predicted_status.append('True')
        else:
            true_ref = get_true_references(nama_inst)
            true_references.append(true_ref)
            test_instansi = row[['nama_instansi']].values[0]
            if test_instansi in true_ref:
                predicted_status.append('True')
            else:
                predicted_status.append('False')
    except:
        print(nama_inst)
        print(index)
        predicted_status.append('False')
        true_references.append([])
        continue

In [ ]:
predictions['status_from_references'] = predicted_status
predictions['true_references'] = true_references

In [ ]:
predictions

In [ ]:
predictions.groupby('status_from_references').count()[['nama_instansi']]

In [ ]:
predictions.to_csv('./eval/performances/exp1b-2b.csv')