In [2]:
import pandas as pd
import numpy as np
from get_similar_entity import get_similar_entity
from evaluation import clean_test_df, get_similar_entities_lev_v2

## Prep test data
Test data: distinct nama_instansi penerima dan pemberi from Tabel ai2022

In [3]:
test_data = pd.read_csv('./eval/test_data/distinct_instansi_ai_table.csv')

In [4]:
test_data.head()

              nama_instansi
0       Kementerian Kominfo
1                tidak tahu
2  PT Maybank Indonesia Tbk
3                   Rekanan
4              Kemko Marves

In [5]:
test_data = clean_test_df(test_data)

In [6]:
test_data.head()

              nama_instansi
0       kementerian kominfo
1                tidak tahu
2  pt maybank indonesia tbk
3                   rekanan
4              kemko marves

## Predictions

In [8]:
predictions = get_similar_entities_lev_v2(test_data, reference_version='v2')

In [9]:
predictions.to_csv('./eval/automatically_labeled.csv')

In [10]:
predictions.head()

              nama_instansi                                    candidates
0       kementerian kominfo                                       kominfo
1                tidak tahu  Bukan instansi BUMN, Kementerian, Pemerintah
2  pt maybank indonesia tbk                                        pt bni
3                   rekanan  Bukan instansi BUMN, Kementerian, Pemerintah
4              kemko marves  Bukan instansi BUMN, Kementerian, Pemerintah

In [11]:
predictions.groupby('candidates').count()

                                              nama_instansi
candidates
Bukan instansi BUMN, Kementerian, Pemerintah           1181
anggota dpr                                               5
anri                                                      1
arsip nasional republik indonesia anri                    1
asdp indonesia                                            1
...                                                     ...
skk migas                                                 7
superintending company of indonesia                       1
telkom                                                    1
tni angkatan udara                                        2
virama karya                                              1

[561 rows x 1 columns]